* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  line-height: 1.6;
  padding-bottom: 70px; 
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo {
  width: 80px !important; /* Logoyu küçültmek için genişliği belirleyin */
  height: auto; /* Oranlarını koruması için otomatik yükseklik */
  max-height: 100px; /* Maksimum yükseklik sınırı koyun */
}

header {
  background: #1d1d1d;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 12px;
  transition: background 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
  background: #444;
  border-radius: 4px;
}

footer {
  background: #1d1d1d;
  color: #fff;
  text-align: center;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
